@page "/Entries"
@model EkoStatRp.Pages.Entries.EntriesIndex
@inject EkoStatLibrary.Helpers.DtoHelper _dtoHelper
@{
    ViewData["Title"] = "Entries";
}

<h1>Entries</h1>
<a asp-page="@Constants.RazorPages.EntriesAdd">Add entries</a>
<hr />

<partial name="@Constants.PartialViews.DisplayEntries" model="@Model.EntryGroups" />



@section Scripts {
    <script src="~/js/entries-index.js"></script>
}
