@* Använd med: <partial name="@Constants.PartialViews.MessageBox" model="@Model.MessageBox" /> *@

@model EkoStatRp.Models.MessageBox
@{
    string hidden = (string.IsNullOrWhiteSpace(Model.Message))
        ? "hidden" : "";
}

<div @hidden class="messageBox @Model.ColorClass">
    <span>@Model.Message</span>
</div>