@page
@model EkoStatRp.Pages.Tags.IndexModel
@{
    ViewData["Title"] = "Tags";
}

<h1>Tags</h1>
<hr />

<form method="post">
    <div id="formInputContainer">
        <div>
            <label asp-for="@Model.NewTag.Name"></label>
            <input asp-for="@Model.NewTag.Name" />
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
<hr />

<table class="table-bordered">
    @foreach (var tag in Model.Tags)
    {
        <tr>
            <td>@tag.Name</td>
            <td>-knappar-</td>
        </tr>
    }
</table>
