@page "/Reports"
@model EkoStatRp.Pages.Reports.ReportsIndex
@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>
<a asp-page="@Constants.RazorPages.ReportsSaved">Saved reports</a>
<hr />

<h2>Filter</h2>
<partial name="@Constants.PartialViews.FilterEntries" model="@Model.FilterViewModel" />
<hr />

<b>TODO: Visa entries här</b>
<p>Entries: @Model.Entries.Count</p>