@page "/Articles"
@model EkoStatRp.Pages.Articles.ArticlesIndex
@inject EkoStatRp.Helpers.DtoHelper _dtoHelper
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>
<hr />

<form method="post">
    <div id="formInputContainer">
        <div>
            <label asp-for="@Model.NewArticle.Name"></label>
            <input asp-for="@Model.NewArticle.Name" />
        </div>
        <label>Tag 1: <input type="number" name="tagIds" /></label><br />
        <label>Tag 2: <input type="number" name="tagIds" /></label><br />
        <label>Tag 3: <input type="number" name="tagIds" /></label><br />
        <label>Tag 4: <input type="number" name="tagIds" /></label><br />
        <label>Tag 5: <input type="number" name="tagIds" /></label><br />
    </div>
    <button type="submit">Submit</button>
</form>
<hr />

<table class="table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Articles)
        {
            var tags = _dtoHelper.GetTagNamesAsString(article.Tags);
            <tr>
                <td>@article.Name</td>
                <td>@tags</td>
                <td>-knappar-</td>
            </tr>
        }
    </tbody>
</table>
