@page
@model EkoStatRp.Pages.Articles.IndexModel
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>
<hr />

<form method="post">
    <div id="formInputContainer">
        <div>
            <label asp-for="@Model.NewArticle.Name"></label>
            <input asp-for="@Model.NewArticle.Name" />
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
<hr />

<table class="table-bordered">
    @foreach (var article in Model.Articles)
    {
        <tr>
            <td>@article.Name</td>
            <td>-knappar-</td>
        </tr>
    }
</table>
